/*body{
    background-color: lightgrey;
   

}


.timer{
    display: flex;
    justify-content: center;
    padding-left: 25px;
    padding-right: 25px;

}
.field:not(:last-child){
    margin-right: 15px;
}

.value{
    margin-bottom: 10px;
    color: tomato;
    
}

.label{
    color: rgb(136, 130, 128);
}

.field{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: lightgrey;
    padding: 25px;
    font-size:2em;
    font-weight: bold;
    text-transform: lowercase;

}*/

/*
.buttom__container{
    display: flex;
    padding-top: 35px;
    text-align: center;
    justify-content: center;
    
}
.is-hiden.buttom__timer-hiden{
display: inline-block;

}

.buttom__timer-hiden {
    display: none;
}

.buttom__timer,
.buttom__timer-hiden{
    width: 75px;
    padding: 5px;
    background: linear-gradient(rgb(224, 210, 213), rgb(179, 166, 175),  rgb(223, 76, 76));
    background-position: 0 0;
    border-radius: 30px;
    border: 3px solid white;
    animation: background 5s infinite alternate;
    cursor: pointer;
    text-transform: uppercase;
    font-size:0.8em;
    font-weight: bold;
}

@keyframes background {
  100% {
    background-position: 0 200px;
  }
}

.buttom__timer:not(:last-child){
    margin-right: 50px;
}
*/

body {
    text-align: center;
    background: #00ecb9;
    font-family: sans-serif;
    font-weight: 100;
  }
   
  .countdown-title {
    color: #396;
    font-weight: 100;
    font-size: 40px;
    margin: 40px 0px 20px;
  }
   
  .timer {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
  }
   
  .field {
    padding: 10px;
    border-radius: 3px;
    background: #00bf96;
    display: inline-block;
  }
   
  .value {
    padding: 15px;
    border-radius: 3px;
    background: #00816a;
    display: inline-block;
  }
   
  .label {
    display: block;
    padding-top: 5px;
    font-size: 16px;
  }

